body {
    margin: 0;
    padding: 0;
    background-color: #101010;
    color: #f0f0f0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

footer {
    bottom: 0;
}

main {
  flex: 1;
}