@font-face {
  font-family: "Vampliers";
  src: url('stuff/Vampliers.otf') format('opentype');
}

*:focus {
    outline: none;
}

body {
    margin: 0;
    padding: 0;
    background-color: #101010;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    font-family: 'Courier New', Courier, monospace;
    color: #f0f0f0;

    cursor:url("stuff/mouse.png"), auto;
}

p {
    text-align: center;
    margin: 10px auto;
}

a {
  color: #cf83ea;
  text-decoration: double;
}

main p {
    max-width: 40vw;
    min-width: 20vw;
}

h1 {
    font-family: "Vampliers";
    text-align: center;
}

/* Header */
header {
    background-color: #303030;
    width: 100%;
    overflow-x: hidden;
}

header h1 {
    margin-top: 10px;
    margin: 0 auto;
    text-align: center;
}

.marquee {
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  animation: marquee 90s linear infinite;
}

.marquee p {
  display: inline-block;
  text-align: center;
  margin: 10px auto;
  max-width: fit-content;
  min-width: 80px;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
/* Header */

/* Footer */
footer {
    background-color: #303030;
    width: 100%;
    overflow-x: hidden;
    min-height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

footer h1 {
    margin: 0 auto;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
}

footer p {
    text-align: center;
    max-width: fit-content;
    min-width: 80px;
    margin-bottom: 20px;
}

footer button {
  display: block;
  border: none;
  font-size: 2em;
  margin: 10px;
}
/* Footer */

main {
  flex: 1;
  margin-bottom: 100px;
}