body {
    margin: 0;
    padding: 0;
    background-color: #101010;
    color: #f0f0f0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Header */
header {
    background-color: #303030;
    width: 100%;
    overflow-x: hidden;
}

header h1 {
    margin: 0 auto;
    text-align: center;
}

.marquee {
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  animation: marquee 60s linear infinite;
}

.marquee p {
  display: inline-block;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

main {
  flex: 1;
}