@font-face {
  font-family: "Vampliers";
  src: url('stuff/Vampliers.otf') format('opentype');
}

@font-face {
  font-family: "chiller";
  src: url('stuff/chiller.ttf') format('truetype');
}

@font-face {
  font-family: "horse-belonk";
  src: url('stuff/HorsebelonkRegular.otf') format('opentype');
}

*:focus {
    outline: none;
}

body {
    margin: 0;
    padding: 0;
    background-color: #101010;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    font-family: sans-serif;
    color: #f0f0f0;

    cursor:url("stuff/mouse.png"), auto;
}

@media (max-width: 680px) {
  #coin {
    display: none;
  }
}

p {
    text-align: center;
    margin: 10px auto;
    font-size: 1.2em;
}

a {
  color: #fb6666;
  text-decoration: underline;
  border-bottom: #f0f0f0 5px;
}

main p {
    max-width: 40vw;
    min-width: 20vw;
}

h1 {
    font-family: "Vampliers";
    text-align: center;
    margin-top: 50px;
}

h2 {
    font-family: "chiller";
    text-align: center;
    margin-top: 20px;
    font-size: xx-large;
}

/* Header */
header {
    background-color: #303030;
    width: 100%;
    overflow-x: hidden;
}

header h1 {
    margin-top: 10px;
    margin: 0 auto;
    text-align: center;
}

.marquee {
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  animation: marquee 90s linear infinite;
}

.marquee p {
  display: inline-block;
  text-align: center;
  margin: 10px auto;
  max-width: fit-content;
  min-width: 80px;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
/* Header */

/* Footer */
footer {
    background-color: #303030;
    width: 100%;
    overflow-x: hidden;
    min-height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

footer h1 {
    margin: 0 auto;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
}

footer p {
    text-align: center;
    max-width: fit-content;
    min-width: 80px;
    margin-bottom: 20px;
}

footer button {
  display: block;
  border: none;
  font-size: 2em;
  margin: 10px;
}
/* Footer */

main {
  flex: 1;
  margin-bottom: 100px;
}